<style>
    .card-img-top {
        width: 100%;
        height: 25vw;
        object-fit: cover;
    }
    body {
        background-image: url('imgSystem/bg.jpg');
    }
</style>
<script>
    $(document).ready(() => {
        // Get Token
        let getToken = 'Bearer ' + $('.takeToken').val();

        // Call API by Axios
        axios.get('/public-api/users/' + window.location.href.slice(-1), {
            headers: {
                'Authorization': getToken
            }
        })
        .then(res => res.data.data)
        .then((response) => {
            // Thêm item được trả về từ bên server
            $('.card').append(`
                <button type="button" class="btn-close position-absolute top-0 end-0 m-3" onclick="history.back()"></button>
                <img src=${response.img} class="card-img-top rounded" alt="Fissure in Sandstone" />
                <div class="card-body rounded py-2 px-4">
                    <h3 class="card-title">${response.name}</h3>
                </div>
                <ul class="list-group list-group-flush bg-dark text-white p-1 rounded fw-bold">
                    <li class="list-group-item">Gender: ${response.gender}</li>
                    <li class="list-group-item">Email: ${response.email}</li>
                </ul>
            `);
        })
        .catch(function (error) {
            $('.card').append(`
                <button type="button" class="btn-close position-absolute top-0 end-0 m-3" onclick="history.back()"></button>
                <div class="card-body rounded py-2 px-4">
                    <h4 class="card-title">You're not allowed to do this action!</h4>
                </div>
            `);
        });
    })
</script>
<div class="container">
    <input class="takeToken" value={{token}} hidden></input>
    <div class="mx-auto mt-5 card border border-secondary shadow-lg p-3 rounded-3" style="width: 30rem;">
    </div>
</div>